.container{
    display: flex;
    justify-content: center;
}

.box-image {
    width: 90px;
    height: 90px;
}

.box-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-imgPrincipale {
    width: 100%;
    height: 450px;
}

.box-imgPrincipale img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery {
    margin-top: 10px;
}

