.titolo {
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    padding: 40px;
    color: #303030;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    
    display: flex;
    align-items: end;
}

.carousel-item {
    height: calc(100vh - 80px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    margin: 1rem;
}

.imgProd {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.caption {
    background: rgba(255, 255, 255, 0.608);
    padding: .5rem;
    
    backdrop-filter: blur(8px);
}