.swiper-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
}

.navbar {
    height: 80px;
}

.carousel-item {
    height: calc(100vh - 80px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    margin: 1rem;
}

